form{ 
    margin-top : 15px;
    p{
        @include flex(center,flex-start,column,nowrap);
        margin-bottom: 15px;

        input{
            height : 40px;
        }
        input,textarea{
            
            display: inline-block;
            width : 100%;
            margin-top: 8px;
            padding : 15px;
        }
    }
    .btn{
        @include btn(white,$secondary-color,white,$text-color);
        cursor:pointer;
        border : none;
    }
    
}